body {
    width: 850px;
    border: 1px solid #fffafa;
    border-radius: 20px;
    margin: 0px 0px 0px 260px;
    background-color: #fffafa;
}

.data {
    font-family: 'Roboto', cursive;
    color: #008080;
    padding: 15px 0px 0px 30px;
}

.publi {
    font-size: 30px;
    font-family: 'Montserrat', cursive;
    padding: 0px 0px 0px 30px;
}

.paragraph {
    font-family: 'Open Sans', cursive;
    padding: 0px 30px 20px 30px;
}