/* Classes são recomendadas para usos gerais. */
.orange-text {
    color: #ff8c00;
}

.big-text {
    font-size: 45px;
}

/* o uso de 'id' é recomendado para determinado elemento em específico. */
#europa-text {
    font-size: 25px;
    color: #9932cc;
}